body{
    background-color: #212121;
}
.container{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    margin-left: -30px;
    margin-left: -400px;
}
.card-saldo{
    background-color: #EE99C2;
    color: #ffffff;
    width: 50%;
    border-radius: 20px;
}
.card {
    width: 120%;
    margin: 0 auto;
}
.card2 {
    width: 120%;
    margin-top: 50px;
    background-color: #ffffff;
    color: white;
    
}

.card-header{
    background-color: #EE99C2;
    color: white;
}

.table th,tr{
    color: #212121;
}
.table-responsive {
    padding: 0 10%;
    margin: 20px auto 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.content .fa {
    font-size: 50px;
    color: white;
    margin-left: 150px;
    opacity: 50%;
}


@media(max-width:750px) {
    .container {
        margin-top: 20px;
        font-family: 'Poppins', sans-serif;
        margin-left: -30px;
    }
    .table th, td{
        font-size: 12px;
    }

}